<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>
<body>
    <header>
        <h1>Bem vindo {{ username }} , que vamos fazer?</h1>
    </header>

    <main>
        <div class="container">
            <nav>
                <button><a href="/manage_passwords">Adicionar novos emails</a></button>
                <button><a href="/view_passwords">Ver emails salvos</a></button>
            </nav>
        </div>
    </main>

    <footer>
        <button><a href="/logout">Sair</a></button>
    </footer>
</body>
</html>