<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
    </header>

    <main>
        <div class="container">
            <h1>Welcome, let's go?</h1>

            <h2>Login</h2>
            <form method="POST">
                <label for="username">User:</label>
                <input type="text" name="username" required>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <br><br>
                <button type="submit">Enter</button>
            </form>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </main>

    <footer>
        <p>© 2024 Meu Sistema de senhas. Todos os direitos reservados.</p>
    </footer>
</body>
</html>