<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infos</title>
</head>
<body>
    <header>
        <h1>Emails Salvos</h1>
    </header>

    <main>
        <div class="container">
            <h2>Emails Salvos</h2>
            {% if emails %}
                <ul>
                    {% for email in emails %}
                        <li>Tipo: {{ email['email_type'] }}, Email: {{ email['email_address'] }}, Senha: {{ email['password'] }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Não há emails salvos.</p>
            {% endif %}
        </div>
    </main>

    <footer>
        <!-- Conteúdo opcional do rodapé -->
    </footer>
</body>
</html>


 