<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infos</title>
</head>
<body>
    <header>

    </header>

    <main>
        <div class="conteiner">
            <h2>Senhas Armazenadas</h2>
            <table>
                <tr>
                    <th>Tipo de Email</th>
                    <th>Email</th>
                    <th>Senha</th>
                </tr>
                {% for email_type, email_address, password in emails %}
                <tr>
                    <td>{{ email_type }}</td>
                    <td>{{ email_address }}</td>
                    <td>{{ password }}</td>
                </tr>
                {% endfor %}
            </table>      
            
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>


 